* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}
section {
    padding: 0 10%;
}
a {
    text-decoration: none;
}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    font-family: cursive;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #482C19;
    color: #F5EEDB;
}
.logo {
    font-size: 30px;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-right: 12px;
    font-size: 20px;
}
nav a:hover {
    border-bottom: 4px dotted #E98D58;
}
header a {
    color: #F5EEDB;
}
.main-section {
    background-color: #482C19;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#F5EEDB;
}
.hero {
    padding-right: 200px;
    font-family: cursive;
    padding-bottom: 100px;
}
.hero-text, .hero p, .hero .btn {
    margin: 6px 0;
}
.hero-text {
    font-size: 48px;
    font-weight: 700;
}
.hero p {
    font-size: 18px;
    text-align: justify;
}
.btn {
    color: #F5EEDB;
    background-color: #E98D58;
    border: none;
    padding: 10px 20px;
    font-family: cursive;
    border-radius: 5px;
}
.hero, .hero-image {
    flex: 1;
}
.hero-image {
    padding: 5% 0;
}
.hero-image img {
    border-radius: 10px;
}
.hero-image img:hover {
    transform: scale(110%);
}

.menu {
    padding-top: 30px;
    padding-bottom: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.menu h3 {
    font-size: 36px;
    color:#482C19;
    font-weight: 700;
    text-align: center;
}
.coffee-menu {
    margin-top: 50px;
    padding: 16px 0;
    display: flex;
    justify-content: space-around;
    gap: 16px;
}
.menu-item {
    flex: 1;
    text-align: center;
}
.menu-item img {
    border-radius: 9px;
}
.menu-item:hover {
    transform: scale(110%);
}
.menu-item p {
    color:#482C19;
    font-size: 20px;
    padding-top: 5px;
}
.see-more {
    color: #482C19;
    font-size: large;
}
.see-more:hover {
    text-decoration: underline;
}

.quote {
    background-color: #E98D58;
}
.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color:#482C19;
    padding: 50px 10px;
}

.card {
    margin: 60px 0;
    padding: 40px 40px;
    border-radius: 5px;
    background-color: #482C19;
    display: flex;
    color: #F5EEDB;
    font-size: 110%;
    font-family: cursive;
}
.card div {
    flex: 1;
}
.card button {
    border: 2px solid #F5EEDB;
    color: #482C19;
}
.card button:hover {
    background-color: #482C19;
    color: #F5EEDB;
}
footer {
    display: flex;
    background-color: #482C19;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #F5EEDB;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 400px) {
    header {
        flex-direction: column;
    }
    .main-section {
        flex-direction: column;
    }
    nav ul {
        gap: 20px;
    }
    .hero {
        padding: 0;
    }
    .coffee-menu {
        flex-direction: column;
        gap: 50px;
    }
    .card {
        flex-direction: column;
        gap: 10px;
    }
}
